aiohttp==3.5.4
astroid==2.3.2
async-timeout==3.0.1
attrs==19.1.0
baseconvert==1.0.0a4
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
discord==1.0.1
discord.py==1.2.5
ftfy==5.6
fuzzywuzzy==0.17.0
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
googletrans==2.4.0
html2text==2019.9.26
httplib2==0.13.1
idna==2.8
inflect==2.1.0
isort==4.3.21
jaraco.itertools==4.4.2
lazy-object-proxy==1.4.2
mccabe==0.6.1
more-itertools==7.2.0
multidict==4.5.2
numpy==1.17.3
oauth2client==4.1.3
Pillow==6.1.0
pyasn1==0.4.7
pyasn1-modules==0.2.6
pylint==2.4.3
python-Levenshtein==0.12.0
requests==2.22.0
rsa==4.0
six==1.12.0
typed-ast==1.4.0
uritemplate==3.0.0
urllib3==1.25.5
wcwidth==0.1.7
websockets==6.0
wolframalpha==3.0.1
wrapt==1.11.2
xmltodict==0.12.0
yarl==1.3.0
