aiohttp==3.6.3
async-timeout==3.0.1
attrs==20.3.0
baseconvert==1.0.0a4
cachetools==4.1.1
certifi==2020.11.8
chardet==3.0.4
Deprecated==1.2.10
discord.py==1.5.1
ftfy==5.8
fuzzywuzzy==0.18.0
google-api-core==1.23.0
google-api-python-client==1.12.8
google-auth==1.23.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
googleapis-common-protos==1.52.0
googletrans==3.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.11.21
html2text==2020.1.16
httpcore==0.9.1
httplib2==0.18.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
more-itertools==8.6.0
multidict==4.7.6
oauth2client==4.1.3
oauthlib==3.1.0
Pillow==8.0.1
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyGithub==1.53
PyJWT==1.7.1
python-Levenshtein==0.12.0
pytz==2020.4
requests==2.25.0
requests-oauthlib==1.3.0
rfc3986==1.4.0
rsa==4.7
six==1.15.0
sniffio==1.2.0
uritemplate==3.0.1
urllib3==1.26.2
wcwidth==0.2.5
wolframalpha==4.1.0
wrapt==1.12.1
xmltodict==0.12.0
yarl==1.5.1
