aiohttp==3.5.4
apiclient==1.0.4
astroid==2.3.3
async-timeout==3.0.1
attrs==19.3.0
baseconvert==1.0.0a4
cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
discord==1.0.1
discord.py==1.2.5
ftfy==5.6
fuzzywuzzy==0.17.0
google-api-python-client==1.7.11
google-auth==1.10.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
googletrans==2.4.0
html2text==2019.9.26
httplib2==0.15.0
idna==2.8
inflect==4.0.0
isort==4.3.21
jaraco.itertools==5.0.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==8.1.0
multidict==4.7.4
oauth2client==4.1.3
oauthlib==3.1.0
Pillow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pylint==2.4.4
python-Levenshtein==0.12.0
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
six==1.13.0
uritemplate==3.0.1
urllib3==1.25.7
wcwidth==0.1.8
websockets==6.0
wolframalpha==3.0.1
wrapt==1.11.2
xmltodict==0.12.0
yarl==1.4.2
